<div style="background-image: url(<%= asset_path('mood_selector.png') %>)" class="top-img" ></div>

<div class="mood-selector">
  <h2>How are you feeling today?</h2>
  <%= simple_form_for @mood do |f| %>
    <%= f.input :sad_happy, label: "Happy vs Sad",
      as: :range, input_html: { max: 10 } %>
    <%= f.input :angry_calm, label: "Calm vs Angry",
      as: :range, input_html: { max: 10 } %>
    <%= f.input :lowenergy_highenergy, label: "High vs Low Energy",
      as: :range, input_html: { max: 10 } %>
    <%= f.input :anxious_social, label: "Social vs Anxious",
      as: :range, input_html: { max: 10 } %>

    <h3>What would you like to do?</h3>
    <div class="action-group">
      <input type="submit" name="type" value="Activity" class="action-button">
      <input type="submit" name="type" value="Medium" class="action-button">
    </div>
  <% end %>
</div>