<div style="background-image: url('https://i.imgur.com/MWYFoJ2.png'); z-index: -3" class="mood-img"></div>
<div id="positive" style="opacity: 0; background-image: url('https://i.imgur.com/yqTlbLA.png'); z-index: -2" class="mood-img" ></div>
<div id="negative" style="opacity: 0; background-image: url('https://i.imgur.com/DWX8lRS.png'); z-index: -1" class="mood-img"></div>

<div class="mood-selector">
  <h2>How are you feeling today?</h2>
  <%= simple_form_for @mood do |f| %>
    <%= f.input :sad_happy, label: "Sad vs Happy",
      as: :range, input_html: { max: 10 } %>
    <%= f.input :angry_calm, label: "Angry vs Calm",
      as: :range, input_html: { max: 10 } %>
    <%= f.input :lowenergy_highenergy, label: "Low vs High Energy",
      as: :range, input_html: { max: 10 } %>
    <%= f.input :anxious_social, label: "Anxious vs Social",
      as: :range, input_html: { max: 10 } %>

    <h3>What would you like to do?</h3>
    <div class="action-group">
      <input type="submit" name="type" value="Activity" class="action-button">
      <input type="submit" name="type" value="Medium" class="action-button">
    </div>
  <% end %>
</div>
