<% if user_signed_in? %>
  <div class="footer">
    <div class="footer-links">
      <%= link_to root_path do %>
        <%= image_tag "dashicon.png", class:"footerbttns"%>
      <%end%>
      <%= link_to new_mood_path do %>
        <%= image_tag "mood.png", class:"footerbttns", id: "mood" %>
      <%end%>
      <%= link_to mediums_path do %>
        <%= image_tag "pencil.png", class:"footerbttns"%>
      <%end%>
    </div>
  </div>
<%end%>
