<h1>Dashboard</h1>

<!--
<% if current_user.nil? %>
  <%link_to new_user_session_path %>
<% elsif current_user.last_mood.time_since > 3600 %>
  <% link_to new_mood_path %>
-->

  <%= link_to 'Dashboard', root_path %>

  <%= link_to 'Previous Activities', root_path %>
  <h2>Previous Activities</h2>
  <ul>
    <% @past_activities.action_id.each do |activity| %>
      <li><%= activity.name %></li>
    <% end %>
  </ul>

  <%= link_to 'Previous Medium', root_path %>
  <h2>Previous Medium</h2>
  <ul>
    <% @past_mediums.each do |medium| %>
      <li><%= medium.name %></li>
    <% end %>
  </ul>
<% end %>


