<div style="background-image: url(<%= asset_path('dashboard.png') %>)" class="top-img" ></div>

<div class="dashboard-container">
  <h1 class="dash">Dashboard</h1>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-st nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-st nav-link" id="prev-activities-tab" data-toggle="tab" href="#prev-activities" role="tab" aria-controls="prev-activities" aria-selected="false">My Activities</a>
    </li>
    <li class="nav-item">
      <a class=" nav-st nav-link" id="prev-mediums-tab" data-toggle="tab" href="#prev-mediums" role="tab" aria-controls="prev-mediums" aria-selected="false">My Mediums</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active tab-move" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <h2 class="title">Previous Moods</h2>
      <!-- Chart JS -->
      <h4>Previous Moods The Past Week</h4>
      <canvas id="dashboardChart" width="400" height="400" data-averages="<%= @averages.map(&:to_json) %>" data-moods="<%= @prev_moods.map(&:to_json) %>"></canvas>
      <div class="d-flex justify-content-center mt-1">
        <button id="line-btn" class="btn btn-outline-secondary" checked>Historical Moods</button>
        <button id="polar-btn" class="btn btn-outline-secondary">Average Moods</button>
      </div>

      <% @prev_moods.each do |mood| %>
        <div class='card-dashboard-page'>
          <div class='cardinfos'>
            <h2 class='prev-action'><%= mood.created_at.time.strftime("%d %B %Y") %></h3>
          <div class="sides">
          <div class="left-inside">
            <p><i class="far fa-sad-tear icon"></i> Sad: <%= 10 - mood.sad_happy %></p>
            <p><i class="far fa-angry icon"></i> Angry: <%= 10 - mood.angry_calm %> </p>
            <p><i class="fas fa-battery-empty icon"></i> Low energy: <%= 10 - mood.lowenergy_highenergy %> </p>
            <p><i class="fas fa-user icon"></i> Anxious: <%= 10 - mood.anxious_social %> </p>
            </div>

          <div class="right-inside">
            <p><i class="far fa-laugh icon"></i> Happy: <%= mood.sad_happy %></p>
            <p><i class="far fa-smile icon"></i> Calm: <%= mood.angry_calm %></p>
            <p><i class="fas fa-battery-full icon"></i> High energy: <%= mood.lowenergy_highenergy %></p>
            <p><i class="fas fa-users icon"></i> Social: <%= mood.anxious_social %></p>
          </div>

          </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade tab-move" id="prev-activities" role="tabpanel" aria-labelledby="prev-activities-tab">
      <h2 class="title">Previous Activities</h2>
      <% @past_activities.each do |activity| %>
        <%= link_to activity_path(activity.action) do %>
          <div class='card-mw'>
            <img class='prev-act' src=<%= activity.action.photo_url %>>
            <div class='cardinfos'>
              <h2 class='prev-action'>Activity: <%= activity.action.name %></h2>
              <p>Date: <%= activity.created_at.time.strftime("%d %B %Y") %></p>

              <div class="big_container">
                <% if activity.mood_before && activity.mood_after %>

                <div class="mood_1">
                  <div class="happy">
                    <% if activity.mood_after.sad_happy > activity.mood_before.sad_happy%>
                      <i class="far fa-laugh icon"></i> <i class="fas fa-arrow-up arrow_up"></i>
                    <% elsif activity.mood_after.sad_happy == activity.mood_before.sad_happy %>
                      <i class="far fa-meh icon"></i> <i class="fas fa-window-minimize steady"></i>
                    <% elsif activity.mood_after.sad_happy < activity.mood_before.sad_happy %>
                      <i class="far fa-sad-tear icon"></i> <i class="fas fa-arrow-down arrow_down"></i>
                    <% end %>
                  </div>

                  <div class="angry">
                    <% if activity.mood_after.angry_calm > activity.mood_before.angry_calm %>
                      <i class="far fa-smile icon"></i> <i class="fas fa-arrow-up arrow_up"></i>
                    <% elsif activity.mood_after.angry_calm == activity.mood_before.angry_calm %>
                      <i class="far fa-meh icon"></i> <i class="fas fa-window-minimize steady"></i>
                    <% elsif activity.mood_after.angry_calm < activity.mood_before.angry_calm  %>
                      <i class="far fa-angry icon"></i> <i class="fas fa-arrow-down arrow_down"></i>
                    <% end %>
                  </div>
                </div>


                <div class="mood_2">
                  <div class="lowenergy">
                    <% if activity.mood_after.lowenergy_highenergy > activity.mood_before.lowenergy_highenergy %>
                      <i class="fas fa-battery-full icon"></i> <i class="fas fa-arrow-up arrow_up"></i>
                    <% elsif activity.mood_after.lowenergy_highenergy == activity.mood_before.lowenergy_highenergy %>
                      <i class="fas fa-battery-half icon"></i> <i class="fas fa-window-minimize steady"></i>
                    <% elsif activity.mood_after.lowenergy_highenergy < activity.mood_before.lowenergy_highenergy %>
                      <i class="fas fa-battery-empty icon"></i> <i class="fas fa-arrow-down arrow_down"></i>
                    <% end %>
                  </div>

                  <div class="social">
                    <% if activity.mood_after.anxious_social > activity.mood_before.anxious_social %>
                      <i class="fas fa-users icon"></i> <i class="fas fa-arrow-up arrow_up"></i>
                    <% elsif activity.mood_after.anxious_social == activity.mood_before.anxious_social %>
                      <i class="fas fa-people-arrows icon"></i> <i class="fas fa-window-minimize steady"></i>
                    <% elsif activity.mood_after.anxious_social < activity.mood_before.anxious_social %>
                      <i class="fas fa-user icon"></i> <i class="fas fa-arrow-down arrow_down"></i>
                    <% end %>
                  </div>
                </div>

                <% end %>

              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="tab-pane fade tab-move" id="prev-mediums" role="tabpanel" aria-labelledby="prev-mediums-tab">
      <h2 class ="title">Previous Medium</h2>
      <% @past_mediums.each do |medium| %>
        <%= link_to "https://#{medium.action.url}", target: "_blank" do %>
          <div class='card-mw'>
            <img class='prev-med' src=<%= medium.action.photo_url %>>
            <div class='cardinfos'>
              <h2 class='prev-action-med'><%= medium.action.name %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>






