
<div style="background-image: url(<%= asset_path('vector1.png') %>)" class="top-img" ></div>


<div class="content-home">
  <div class="log">
    <h2>Mood Wizard</h2>
  </div>
  <div class= "login-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <p> Dont have an account? <a href="/users/sign_up">Sign up</a></p>
      <div class="form-inputs">
        <%= f.input :email, placeholder:'Email',
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" }, label: false %>
        <%= f.input :password, placeholder:'Password',
                    required: false,
                    input_html: { autocomplete: "current-password" }, label: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "sign-in-front" %>
    </div>
    <% end %>
  </div>
  <%# render "devise/shared/links" %>
</div>
<div style="background-image: url(<%= asset_path('vector2.png') %>)" class="bottom-img" ></div>


