<div style="background-image: url(<%= asset_path('activities_show.png') %>)" class="top-img" ></div>

<div class="activities-container">
  <h1>All Activities</h1>
  <div class="activity-nav d-flex justify-content-center">
    <a class="btn btn-dark">All</a>
    <a href="/prev_activities" class="btn btn-outline-dark">Previous</a>
  </div>

  <form class="activity-filters" action="/activities" method="get">
    <div class="form-group">
      <input class="form-control" id="location" type="text" name="location" placeholder="Location" value="<%= params["location"] if params["location"].present? %>">
    </div>
    <div class="form-row">
      <div class="col">
        <input class="form-control" id="start-time" type="time" name="start-time">
      </div>
      <div class="col">
        <input class="form-control" id="end-time" type="time" name="end-time">
      </div>
      <div class="d-flex align-items-center col-auto">
        <button type="submit" class="filter-button">Submit</button>
      </div>
    </div>
  </form>

  <div class="activity-cards">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class="card-mw">
          <img class='prev-act' src=<%= activity.photo_url %>>
          <div class='cardinfos'>
            <h2 class='prev-action'>Activity: <%= activity.name %></h2>
            <p><strong>Company:</strong> <%= activity.company_name %></p>
            <% if @distances.present? %>
              <p><strong>Distance:</strong> <%= @distances[activity.id] %> km</p>
            <% end %>
            <p><strong>Price:</strong> $<%= activity.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
